html, body {
    height: 100%;
    background-image: url(Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}

header {
    width: inherit;
    background-color: white;
    color: gold;
    font-family: Constantia;
    top: 0;
}

.titleSite {
    font-size: 4em;
    font-family: 'David Libre';
    position: relative;
    bottom: 10px;
}

#Ibanniere{
    margin-top: 1%;
    margin-left: 1%;
    width:70px;
    height:70px;
}

#onglets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffda4b;
}

.lio {
    float: left;
    border-right: 1px solid #bbb;
}

.lio:last-child{
    border-right:none;
}

.lio a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.lio a:hover {
background-color: white;
color:#ffda4b
}

.title {
    margin-left: 9%;
    font-size:1.5em;
    color:lightgoldenrodyellow;
}


/* INFOS */

#infos{
    position : fixed ;
    left :0;
    background-color :rgb(255, 246, 168);
    border-top-left-radius :10 px;
    border-bottom-left-radius :10 px;
    width :20%;
    height: 85%;
    flex-direction: column;
    overflow-y: scroll;

}

#player {
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    flex-direction: row;
    border-bottom: 2px solid black;
    text-align: center;
}

#playerPFP {
    height: 80px;
    width: 80px;
}

.playerName{
    color:darkblue;
    font-size:2.5em;
    margin: auto auto auto auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#scores {
    padding-top: 10%;
    padding-bottom: 10%;
    display: block;
    flex-direction: column;
    border-bottom: 2px solid black;
    text-align: center;
}

.score {
    font-size:1.5em;
}

#achievements {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.achievement {
    padding: 1% 1% 1% 1%;
    height: 18%;
    width: 18%;
}

.secretAchievement {
    height: 18%;
    width: 18%;
    display:none;
}



/* WAIFUS */

#upgradePannel{
    position : fixed ;
    right :0;
    background-color :rgb(255, 246, 168);
    border-top-left-radius :10 px;
    border-bottom-left-radius :10 px;
    width :20%;
    height: 85%;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
}

#upgradeOnglets {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:rgb(0, 102, 255);
    width: fit-content;
    position: sticky;
    
}

.ongletWaifuI {
    height: 50px;
    width: 50px;
}

.uplio {
    float: left;
    border-right: 1px solid #bbb;
}

.uplio:last-child{
    border-right:none;
}

.uplio a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.uplio a:hover {
background-color: white;
color:rgb(0, 102, 255)
}

#waifuT {
    color: plum;
}

.waifu {
    background-color: orange;
    width: 80%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.locked {
    background-color: lightslategrey;
}

.iconImage {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid black;
}

.waifuName {
    font-size: 2em;
}


#upgradeArrow {
    height: 20px;
    width: 20px;
}

.btn-lvlup{
    border: 1px solid black;
}

/* LUX */

#elem {
    background-color: orange;
    width: 80%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}

.elemImage {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.aura {
    background-color: gold;
    width: 80%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}

.research {
    background-color: gold;
    width: 80%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

/* CENTER */

#center {
    text-align: center;
}


.hearts {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
}

#heart {
    height: 60px;
    width: 60px;
}

#tinyHeart {
    height: 15px;
    width: 15px;
}

#clicMe {
    margin: 0 35% 0 35%;
    width: 30%;
}


.pulse:active {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }



    progress{
        display: inline-block;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 300px;
        height: 20px;
        padding: 3px 3px 2px 3px;
        background: #333; 
        background: -webkit-linear-gradient(#2d2d2d,#444);
        background:    -moz-linear-gradient(#2d2d2d,#444);
        background:      -o-linear-gradient(#2d2d2d,#444);
        background:         linear-gradient(#2d2d2d,#444);
        border: 1px solid rgba(0,0,0,.5);
        border-radius: 15px;
        box-shadow: 0 1px 0 rgba(255,255,255,.2);   
        
    }

    progress::-webkit-progress-bar{
        background: transparent;
        
    }


    .meter { 
        height: 10px;  /* Can be anything */
        position: relative;
        background: #666;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 5px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    }

    .meter > span {
        display: block;
        height: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: rgb(226, 41, 87);
        background-image: linear-gradient(
          center bottom,
          rgb(163, 33, 131) 30%,
          rgb(226, 41, 87) 75%
        );
        box-shadow: 
          inset 0 2px px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
      }